{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

{{ $next := (.Site.Pages.ByWeight.Next . ) }}
{{ $prev := (.Site.Pages.ByWeight.Prev . ) }}

{{ if or $prev $next }}
<ul class="section_skipper list-unstyled">
{{ with $next }}
  <li id="next_in_section"><a class="btn btn-primary" href="{{ .Permalink }}">&#xab; {{ replaceRE "Chapter (.*)" "$1" .Title | truncate 40}}</a></li>
{{ end }}
{{ with $prev }}
  <li id="prev_in_section"><a class="btn btn-primary" href="{{ .Permalink }}">{{ replaceRE "Chapter (.*)" "$1" .Title | truncate 40}} &#xbb;</a></li>
{{ end }}
</ul>
{{ end }}


{{ end }}